
*.o
Bazin-proiect/Bazin-proiect.depend
Bazin-proiect/Bazin-proiect.layout
Bazin-proiect/bin/Debug/Bazin-proiect.exe
*.o
Bazin-proiect/Bazin-proiect.layout
Bazin-proiect/Bazin-proiect.depend
Bazin-proiect/bin/Debug/Bazin-proiect.exe
Bazin-proiect/obj/Debug/src/Bazin.o
